<form
  [formGroup]="formRegistrazione"
  (ngSubmit)="submitRegistration()"
  class="h-screen w-full lg:pt-[240px] pt-[90px] -z-10 flex flex-col items-center"
>
  <div
    class="h-auto w-full lg:border-[2px] bg-white border-x-[#005288ff] shadow-lg shadow-[#948e8e] flex flex-col items-center"
  >
    <div class="h-[200px] w-full flex items-center">
      <div
        class="rounded-[15px] h-[50px] w-[50%] mx-auto border-[2px] border-[#005288ff] flex items-center"
      >
        <p
          class="font-black text-center text-2xl mx-auto text-[#005288ff] flex"
        >
          REGISTRAZIONE
        </p>
      </div>
    </div>
    <div class="h-auto w-[75%] flex flex-col items-center">
      <div class="w-full flex flex-col lg:flex-row gap-x-[15px]">
        <div class="lg:w-[20%] h-fit flex flex-col">
          <p
            class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Nome *
          </p>
          <input
            type="text"
            maxlength="40"
            placeholder="Matteo, Simone, Gef..."
            class="rounded-full h-[30px] w-full text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            formControlName="nome"
          />
        </div>
        <div class="lg:w-[20%] h-fit flex flex-col">
          <p
            class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Cognome *
          </p>
          <input
            type="text"
            maxlength="40"
            placeholder="cognome"
            class="rounded-full h-[30px] w-full text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            formControlName="cognome"
          />
        </div>
        <div class="lg:w-[20%] h-fit flex flex-col">
          <p
            class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Telefono *
          </p>
          <input
            type="text"
            placeholder="numero di telefono"
            class="rounded-full h-[30px] w-full text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            formControlName="numero_tel"
          />
        </div>
        <div class="lg:w-[40%] h-fit flex flex-col">
          <p
            class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Email *
          </p>
          <input
            type="text"
            maxlength="40"
            placeholder="la tua email"
            class="rounded-full h-[30px] w-full text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            formControlName="email"
          />
        </div>
      </div>
      <div class="w-full flex flex-col lg:flex-row gap-x-[15px]">
        <div class="lg:w-[50%] h-fit flex flex-col">
          <p
            class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Indirizzo
          </p>
          <input
            type="text"
            placeholder="via"
            class="rounded-full h-[30px] w-full text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            formControlName="indirizzo"
          />
        </div>
        <div class="lg:w-[6%] h-fit flex flex-col">
          <p
            class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            n.
          </p>
          <input
            type="text"
            maxlength="5"
            placeholder="n."
            class="rounded-full h-[30px] w-full text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            formControlName="numero_civico"
          />
        </div>
        <div class="lg:w-[22%] h-fit flex flex-col">
          <p
            class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Citta'
          </p>
          <select
            class="rounded-full h-[30px] w-full text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            formControlName="citta"
          ></select>
        </div>
        <div class="lg:w-[22%] h-fit flex flex-col">
          <p
            class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Provincia
          </p>
          <select
            class="rounded-full h-[30px] w-full text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            formControlName="provincia"
          ></select>
        </div>
      </div>
      <div class="w-full flex flex-col lg:flex-row gap-x-[15px]">
        <div class="lg:w-[50%] h-fit flex flex-col">
          <div
            class="h-fit flex flex-row flex-wrap items-center mb-0 mt-[10px]"
          >
            <p
              class="h-[15px] w-fit pl-[10px] text-xl text-left font-bold text-[#005288ff]"
            >
              Password *
            </p>
            <p
              class="lg:h-[15px] h-fit w-fit pt-[5px] pl-[10px] text-sm text-left font-light text-[#9da0a1]"
            >
              (almeno un numero, una lettera e un simbolo tra: @$!%*#?&)
            </p>
          </div>
          <div class="relative h-[30px] w-full mt-[5px] flex flex-row">
            <input
              [type]="mostraPassword"
              placeholder="Minimo 8 caratteri"
              class="rounded-full h-[30px] w-full text-sm text-left mt-[5px] pl-[20px] pr-[40px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff] flex-shrink-0"
              formControlName="password"
            />
            <button
              class="absolute h-[70%] right-[10px]"
              type="button"
              (click)="showPassword(1)"
            >
              <img
                [id]="mostraOcchio"
                class="h-full w-full mt-[10px]"
                src="../../../../assets/occhio_password.svg"
                alt="occhio"
              />
            </button>
          </div>
        </div>
        <div class="h-[fit] mx-auto mt-[40px] flex items-center">
          <img
            *ngIf="
              formRegistrazione.get('password')?.value !==
              formRegistrazione.get('confPassword')?.value
            "
            class="h-[20px]"
            src="../../../../assets/non_uguale.svg"
            alt="non_uguale"
          />
          <img
            *ngIf="
              formRegistrazione.get('password')?.value ===
              formRegistrazione.get('confPassword')?.value
            "
            class="h-[20px]"
            src="../../../../assets/uguale.svg"
            alt="non_uguale"
          />
        </div>
        <div class="lg:w-[50%] h-fit flex flex-col">
          <div
            class="h-fit flex flex-row flex-wrap items-center mb-0 mt-[10px]"
          >
            <p
              class="h-[15px] w-fit pl-[10px] text-xl text-left font-bold text-[#005288ff]"
            >
              Conferma Password *
            </p>
            <p class="invisible sm:max-lg:hidden h-[15px] w-[284px]"></p>
          </div>
          <div class="relative h-[30px] w-full mt-[5px] flex flex-row">
            <input
              id="confPassword"
              [type]="mostraConfPassword"
              placeholder="riscrivi la password"
              class="rounded-full h-[30px] w-full text-sm text-left mt-[5px] pl-[20px] pr-[40px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff] flex-shrink-0"
              formControlName="confPassword"
            />
            <button
              class="absolute h-[70%] right-[10px]"
              type="button"
              (click)="showPassword(2)"
            >
              <img
                [id]="mostraOcchioConferma"
                class="h-full w-full mt-[10px]"
                src="../../../../assets/occhio_password.svg"
                alt="occhio"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="h-[120px] flex items-center">
      <button
        class="rounded-[10px] h-[40px] w-fit mx-auto bg-[#005288ff] enabled:bg-[#307c36] disabled:opacity-25 flex"
        type="submit"
        routerLink="home"
        [disabled]="!formRegistrazione.valid"
      >
        <p class="font-black text-center text-xl my-auto mx-[30px] text-[#ffffff] flex">
          REGISTRATI
        </p>
      </button>
    </div>
    <div
      class="rounded-full bg-[#005288ff] h-[2px] w-[90%] flex"
    ></div>
    <div class="mt-[30px] mb-[110px] h-[30px] w-fit flex flex-row items-center">
      <p class="font-medium h-fit w-fit text-center text-md text-[#0964a0] flex">Problemi con la registrazione?</p>
      <button
        class="rounded-[6px] h-[30px] w-fit mx-[10px] bg-[#0964a0] flex" routerLink="/recupero"
      >
        <p class="font-medium text-center text-md my-auto mx-[10px] text-[#ffffff] flex">
          RECUPERA
        </p>
      </button>
      <p class="font-medium h-fit w-fit text-center text-md text-[#0964a0] flex">le tue credenziali</p>
    </div>
  </div>
</form>
