<div class="h-screen w-full lg:pt-[240px] pt-[90px] flex flex-col items-center">
  <div
    class="h-full w-full lg:border-[2px] bg-white border-x-[#005288ff] shadow-lg shadow-[#948e8e] flex flex-col items-center"
  >
    <div class="h-[150px] w-full flex items-center">
      <div
        class="rounded-[15px] h-[50px] w-[50%] mx-auto border-[2px] border-[#005288ff] flex items-center"
      >
        <p
          class="font-black text-center text-2xl mx-auto text-[#005288ff] flex"
        >
          GESTIONE UTENZE
        </p>
      </div>
    </div>
    <div class="h-auto w-[80%] flex flex-col items-center">
      <div>
        
      </div>
    </div>
  </div>
</div>
