<div class="h-screen w-full lg:pt-[240px] pt-[90px] -z-10 flex flex-col items-center">
   
    <div class="h-fit w-[90%] lg:w-fit my-auto mx-auto flex lg:flex-row flex-col items-center">
        <p class="font-black text-center text-6xl my-auto mx-auto text-[#005288ff] flex">Errore</p>
        <div class="h-fit w-fit mx-[10px] sm:max-lg:my-[20px] flex flex-row">
            <div class="rounded-[5px] sm:max-lg:scale-150 h-[80px] w-[120px] bg-[#005288ff] flex items-center">
                <p class="font-black text-center text-6xl my-auto mx-auto text-[#ffffff] flex">404</p>
            </div>
            <p class="font-black text-center text-6xl my-auto mx-auto text-[#005288ff] flex">:</p>
        </div>
        <p class="font-black text-center text-6xl my-auto mx-auto text-[#005288ff] flex">Pagina non trovata!</p>
    </div>
</div>
