<div
  class="relative bg-center m-auto rounded-t-[30px] max-w-[1680px] h-[210px] flex flex-col items-center"
  style="background-image: url(../../../assets/exe-background.svg)"
>
  <div class="absolute -bottom-[15px] w-auto">
    <div
      class="rounded-t-[30px] bg-white h-[150px] w-[450px] outline outline-[3px] outline-[#005288ff]"
    ></div>
  </div>
  <div class="absolute -bottom-[50px] inset-x-0 w-auto">
    <div
      class="rounded-[20px] h-[80px] w-auto bg-white border-[3px] border-[#005288ff] shadow-md shadow-[#948e8e] flex justify-between"
    >
      <button
        class="w-fit rounded-[18px] mt-[15px] pl-[20px] transition ease-in-out delay-75 hover:scale-110 duration-150 flex" (click)="openOrHideSideMenu()"
      >
        <img
          class="w-[40px]"
          src="../../../assets/menu_icon.svg"
          alt="menu"
        />
        <p class="pt-[20px] pl-[10px] text-[25px] text-[#005288ff]">Menu</p>
      </button>
      <div class="min-w-[150xp] max-w-[300px] pl-[20px] flex">
        <button class="w-fit rounded-[18px] transition ease-in-out delay-75 hover:scale-110 duration-150">
          <img
            class="w-[40px]"
            src="../../../assets/lente_ingrandimento.svg"
            alt="lente_ingrandimento"
          />
        </button>
        <input
          name="userSearch"
          placeholder="Cerca nel sito..."
          class="outline-0 rounded-full h-[30px] w-auto mt-[27px] ml-[10px] px-[10px] text-left bg-gray-200 border-[2px]  hover:border-[#435da5] focus-within:border-[#005288ff]"
        />
      </div>
      <div class="flex-1"></div>
      <div class="h-fit w-fit mt-[15px] mr-[40px] flex-none">
        <button
          class="rounded-[18px] transition ease-in-out delay-75 hover:scale-110 duration-150 flex flex-row" (click)="openOrHideLoginMenu()">
          <img class="w-[40px]" src="../../../assets/utente.svg" alt="utente" />
          <p class="pt-[15px] pl-[10px] text-2xl text-[#005288ff]">Benvenuto{{isLogged ? ', ' + nomeUtente : '. Accedi'}}!</p>
        </button>
      </div>
    </div>
  </div>
  <div class="absolute -bottom-[15px] w-auto">
    <button
      class="relative rounded-t-[30px] bg-white h-[150px] w-[450px]"
      routerLink="home"
    >
      <img
        class="absolute -bottom-[2px] inset-x-[50px] w-[350px]"
        src="../../../assets/logo_vettoriale.svg"
        alt="logo_exe"
      />
    </button>
  </div>
  <div class="absolute top-[245px] right-[20px] w-auto">
    <app-login *ngIf="loginMenuDisplay && !isLogged"></app-login>
  </div>
  <div class="absolute top-[245px] left-[20px] w-auto">
    <app-menu *ngIf="sideMenuDisplay"></app-menu>
  </div>
</div>
