<div
  class="lg:rounded-[20px] lg:w-[300px] sm:max-lg:h-screen sm:max-lg:w-[50%] sm:max-lg:ml-auto py-[20px] lg:border-[2px] bg-white border-[#005288ff] shadow-lg shadow-[#948e8e] flex flex-col justify-center items-center"
>
    <div
      class="rounded-[5px] h-[30px] mx-[auto] w-fit border-[2px] border-[#005288ff] flex items-center"
    >
      <p class="font-black text-center text-xl mx-[10px] text-[#005288ff] flex">
        Il mio Menu
      </p>
    </div>
    <div
      class="rounded-full bg-[#005288ff] h-[2px] w-[80%] mx-auto my-[10px] flex"
    ></div>
    <ul class=" lg:mx-[40px] lg:py-[20px] h-fit list-disc lg:space-y-[10px] space-y-[30px]">
      <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
        <button class="h-[20px]" routerLink="utenti/{{id_utente}}">
          Profilo
        </button>
      </li>
      <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
        <button class="h-[20px]" routerLink="servizi">
          Interventi
        </button>
      </li>
      <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
        <button class="h-[20px] w-fit" routerLink="assistenza">
          I miei Tickets
        </button>
      </li>
      <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
        <button class="h-[20px]" routerLink="contatti">
          Assistenza
        </button>
      </li>
    </ul>
    <div
      class="rounded-full bg-[#005288ff] h-[2px] w-[90%] mx-auto my-[10px] flex"
    ></div>
    <button
      type="button"
      class="rounded-[5px] mx-auto h-[40px] w-[80px] bg-[#005288ff] flex items-center"
      (click)="logout()"
    >
      <p class="text-base text-center mx-auto font-normal text-[#ffffff] flex">
        LOGOUT
      </p>
    </button>
</div>
