<div
  class="lg:rounded-[20px] lg:h-fit h-screen w-[fit] sm:max-lg:w-[50%] border-[2px] bg-[#ffffff] border-[#005288ff] shadow-lg shadow-[#948e8e] flex flex-col items-left justify-evenly"
>
  <p class="mt-[30px] ml-[20px] h-[30px] text-3xl text-left font-bold text-[#005288ff]">Categorie:</p>
  <ul class="pl-[20px] ml-[40px] lg:mx-[40px] lg:py-[30px] h-fit list-disc lg:space-y-[10px] space-y-[30px]">
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
      <button class="h-[20px]" routerLink="prodotti" (click)="hideMenu()">
        Prodotti
      </button>
    </li>
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
      <button class="h-[20px]" routerLink="servizi" (click)="hideMenu()">
        Servizi
      </button>
    </li>
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
      <button class="h-[20px] w-fit" routerLink="assistenza" (click)="hideMenu()">
        Assistenza Tec.
      </button>
    </li>
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]" (click)="hideMenu()">
      <button class="h-[20px]" routerLink="chi_siamo">
        Chi siamo
      </button>
    </li>
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]" (click)="hideMenu()">
      <button class="h-[20px]" routerLink="contatti">
        Contatti
      </button>
    </li>
  </ul>
</div>
