<div
  class="rounded-[20px] h-fit w-[fit] border-[2px] bg-[#ffffff] border-[#005288ff] shadow-lg shadow-[#948e8e] flex flex-col items-left"
>
  <p class="pl-[20px] h-[30px] pt-[15px] text-3xl text-left font-bold text-[#005288ff]">Categorie:</p>
  <ul class="pl-[50px] ml-[20px] mr-[40px] py-[40px] h-fit list-disc space-y-[30px]">
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
      <button class="h-[20px]" routerLink="productpage">
        Prodotti
      </button>
    </li>
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
      <button class="h-[20px]" routerLink="servicespage">
        Servizi
      </button>
    </li>
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
      <button class="h-[20px] w-fit" routerLink="assistancepage">
        Assistenza Tecnica
      </button>
    </li>
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
      <button class="h-[20px]" routerLink="whopage">
        Chi siamo
      </button>
    </li>
    <li class="ml-[20px] text-2xl text-left font-bold text-[#005288ff]">
      <button class="h-[20px]" routerLink="contactpage">
        Contatti
      </button>
    </li>
  </ul>
</div>
