<div class="h-screen w-full lg:pt-[240px] pt-[90px] flex flex-col items-center">
  <div
    class="h-full w-full lg:border-[2px] bg-white border-x-[#005288ff] shadow-lg shadow-[#948e8e] flex flex-col items-center"
  >
    <div class="h-[150px] w-full flex items-center">
      <div
        class="rounded-[15px] h-[50px] w-[50%] mx-auto border-[2px] border-[#005288ff] flex items-center"
      >
        <p
          class="font-black text-center text-2xl mx-auto text-[#005288ff] flex"
        >
          Il Tuo Profilo
        </p>
      </div>
    </div>
    <div class="h-auto w-[80%] flex flex-col items-center">
      <div
        class="rounded-[15px] h-fit w-full mx-auto p-[20px] border-[2px] border-[#005288ff] flex flex-col items-center"
      >
        <p
          class="font-black text-center text-2xl mb-[20px] mx-auto text-[#005288ff] flex"
        >
          I Tui Dati
        </p>
        <div class="rounded-full bg-[#4387b4] h-[2px] w-[90%] mb-[20px] flex"></div>
        <div class="w-full flex flex-col lg:flex-row gap-x-[15px]">
          <div class="lg:w-[20%] h-fit flex flex-col">
            <p
              class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
            >
              Nome
            </p>
            <div
              class="rounded-full h-[30px] w-full mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] border-[#005288ff] flex"
            >
              <p class="text-sm text-left text-[#005288ff] my-auto">
                {{ this.utente.nome }}
              </p>
            </div>
          </div>
          <div class="lg:w-[20%] h-fit flex flex-col">
            <p
              class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
            >
              Cognome
            </p>
            <div
              class="rounded-full h-[30px] w-full mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] border-[#005288ff] flex"
            >
              <p class="text-sm text-left text-[#005288ff] my-auto">
                {{ this.utente.cognome }}
              </p>
            </div>
          </div>
          <div class="lg:w-[20%] h-fit flex flex-col">
            <p
              class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
            >
              Telefono
            </p>
            <div
              class="rounded-full h-[30px] w-full mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] border-[#005288ff] flex"
            >
              <p class="text-sm text-left text-[#005288ff] my-auto">
                {{ this.utente.numero_tel }}
              </p>
            </div>
          </div>
          <div class="lg:w-[40%] h-fit flex flex-col">
            <p
              class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
            >
              email
            </p>
            <div
              class="rounded-full h-[30px] w-full mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] border-[#005288ff] flex"
            >
              <p class="text-sm text-left text-[#005288ff] my-auto">
                {{ this.utente.email }}
              </p>
            </div>
          </div>
        </div>
        <div class="w-full flex flex-col lg:flex-row gap-x-[15px]">
          <div class="lg:w-[50%] h-fit flex flex-col">
            <p
              class="h-[15px] mt-[10px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
            >
              indirizzo
            </p>
            <div
              class="rounded-full h-[30px] w-full mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] border-[#005288ff] flex"
            >
              <p class="text-sm text-left text-[#005288ff] my-auto">
                {{ this.utente.indirizzo }}, {{ this.utente.numero_civico }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
