input.ng-touched.ng-invalid{
    border-color: rgb(220 38 38) !important
}

input.ng-touched.ng-valid{
    border-color: rgb(0, 161, 73) !important
}

#passwordArea.ng-touched.ng-invalid{
    border-color: rgb(220 38 38) !important
}

#passwordArea.ng-touched.ng-valid{
    border-color: rgb(0, 161, 73) !important
}

#passwordArea{
    border-width: 2px !important;
    background-color: rgb(229 231 235) !important;
}

#passwordArea:hover{
    border-color: rgb(67 93 165) !important;

}
#passwordArea:focus-whitin{
    border-color: #005288ff !important;
}