<div class=" h-[fit] max-w-full mx-auto mt-[20px]">
  <div class="h-[fit] max-w-full mx-auto px-auto flex flex-col items-center">
    
  </div>  
</div>
<!-- <div class=" h-[fit] w-full mx-auto mt-[20px]">
  <div class="h-[fit] px-auto flex flex-col items-center">
    <div
      class="h-[50px] w-[160px] rounded-[10px] border-[2px] border-[#005288ff] bg-white"
    >
      <p
        class="h-[40px] pt-[8px] text-xl text-center font-bold text-[#005288ff]"
      >
        REGISTRATI
      </p>
    </div>
  </div>

  <div
    class="h-fit w-full mt-[40px] px-[20px] rounded-[20px] border-[2px] border-[#005288ff] bg-white flex flex-col"
  >
    <form #registrationForm="ngForm" (ngSubmit)="submitRegistration()">
      <div class="h-fit w-full flex flex-row">
        <div class="my-[20px] mx-[10px]">
          <p
            class="h-[15px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Nome
          </p>
          <input
            type="text"
            name="name"
            maxlength="40"
            placeholder="Inserisci il tuo nome"
            class="rounded-full h-[30px] px-[10px] w-full text-left bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            required
          />
        </div>
        <div class="my-[20px] mx-[10px]">
          <p
            class="h-[15px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Cognome
          </p>
          <input
            type="text"
            name="lastname"
            maxlength="40"
            placeholder="Inserisci il tuo cognome"
            class="rounded-full h-[30px] w-full px-[10px] text-left bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            required
          />
        </div>
        <div class="my-[20px] mx-[10px]">
          <p
            class="h-[15px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Via
          </p>
          <input
            type="text"
            name="lastname"
            placeholder="Indirizzo"
            class="rounded-full h-[30px] w-full px-[10px] text-left bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            required
          />
        </div>
        <div class="w-[40px] my-[20px] mx-[10px]">
          <p
            class="h-[15px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            n.
          </p>
          <input
            type="text"
            name="lastname"
            maxlength="5"
            placeholder="n."
            class="rounded-full h-[30px] w-full px-[10px] text-left bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            required
          />
        </div>
        <div class="my-[20px] mx-[10px]">
          <p
            class="h-[15px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
          >
            Citta'
          </p>
          <input
            type="text"
            name="lastname"
            maxlength="5"
            placeholder="Citta'"
            class="rounded-full h-[30px] w-full px-[10px] text-left bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
            required
          />
        </div>
      </div>
    </form>
  </div>
</div> -->
