<form #loginForm="ngForm" (ngSubmit)="submitRegistration()">
  <div
    class="h-screen sm:max-lg:h-screen lg:border-[2px] bg-white border-x-[#005288ff] shadow-lg shadow-[#948e8e] flex flex-col justify-center items-center"
  >
    <div
      class="rounded-[15px] h-[60px] w-fit border-[2px] border-[#005288ff] flex flex-row items-center"
    >
      <p class="font-extrabold text-center mx-[20px] text-[#005288ff]">
        REGISTRAZIONE
      </p>
    </div>
    <div class="h-fit w-[80%] sm:max-lg:w-full flex flex-row  flex-wrap items-center">
      <div class="lg:mt-[15px] mx-auto w-fit h-fit">
        <p
          class="h-[15px] my-[5px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
        >
          Nome
        </p>
        <input
          type="text"
          name="name"
          #name="ngModel"
          maxlength="40"
          placeholder="Matteo, Simone, Gef..."
          class="rounded-full h-[30px] w-auto text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
          (input)="onInputName($event)"
          (ngModel)="(name)"
          required
        />
      </div>
      <div class="lg:mt-[15px] mx-auto w-fit h-fit">
        <p
          class="h-[15px] my-[5px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
        >
          Cognome
        </p>
        <input
          type="text"
          name="lastname"
          #lastname="ngModel"
          maxlength="40"
          placeholder="ognome"
          class="rounded-full h-[30px] w-auto text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
          (input)="onInputLastname($event)"
          (ngModel)="(lastname)"
          required
        />
      </div>
      <div class="lg:mt-[15px] mx-auto w-fit h-fit">
        <p
          class="h-[15px] my-[5px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
        >
          Via
        </p>
        <input
          type="text"
          name="address"
          #address="ngModel"
          maxlength="100"
          placeholder="indirizzo"
          class="rounded-full h-[30px] w-auto text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
          (input)="onInputLastname($event)"
          (ngModel)="(address)"
          required
        />
      </div>
      <div class="lg:mt-[15px] mx-auto w-fit h-fit">
        <p
          class="h-[15px] my-[5px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
        >
          n.
        </p>
        <input
          type="text"
          name="addressNumber"
          #addressNumber="ngModel"
          maxlength="5"
          placeholder="cognome"
          class="rounded-full h-[30px] w-auto text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
          (input)="onInputLastname($event)"
          (ngModel)="(addressNumber)"
          required
        />
      </div>
      <div class="lg:mt-[15px] mx-auto w-fit h-fit">
        <p
          class="h-[15px] my-[5px] pl-[10px] text-xl text-left font-bold text-[#005288ff]"
        >
          Citta'
        </p>
        <input
          type="text"
          name="city"
          #city="ngModel"
          maxlength="40"
          placeholder="citta'"
          class="rounded-full h-[30px] w-auto text-sm text-left mt-[10px] pl-[20px] pr-[20px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff]"
          (input)="onInputLastname($event)"
          (ngModel)="(city)"
          required
        />
      </div>
      <div class="mt-[10px] mx-auto w-fit h-fit">
        <p
          class="h-[15px] pl-[10px] my-[5px] text-xl text-left font-bold text-[#005288ff]"
        >
          Password
        </p>
        <div class="relative h-[30px] w-[250px] mt-[5px]">
          <input
            [type]="showedPassword"
            name="password"
            #password="ngModel"
            minlength="8"
            placeholder="Minimo 8 caratteri"
            class="rounded-full h-[30px] w-[250px] text-sm text-left mt-[10px] pl-[20px] pr-[40px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff] shrink-0"
            (input)="onInputPassword(1, $event)"
            (ngModel)="(password)"
            required
          />
          <button
            class="h-full w-full"
            type="button"
            (click)="showPassword(1)"
          >
            <img
              [id]="displayEye"
              class="absolute right-[10px] top-[50%] h-[70%]"
              src="../../../../assets/occhio_password.svg"
              alt="occhio"
            />
          </button>
        </div>
      </div>
      <div class="mt-[10px] mx-auto w-fit h-fit">
        <p
          class="h-[15px] pl-[10px] my-[5px] text-xl text-left font-bold text-[#005288ff]"
        >
          Conferma password
        </p>
        <div class="relative h-[30px] w-[250px] mt-[5px]">
          <input
            [type]="showedConfirmationPassword"
            name="confirmPassword"
            #confirmPassword="ngModel"
            minlength="8"
            placeholder="riscrivi la password"
            class="rounded-full h-[30px] w-[250px] text-sm text-left mt-[10px] pl-[20px] pr-[40px] bg-gray-200 border-[2px] hover:border-[#435da5] focus-within:outline-[#005288ff] shrink-0"
            (input)="onInputPassword(2, $event)"
            (ngModel)="(confirmPassword)"
            required
          />
          <button
            class="h-full w-full"
            type="button"
            (click)="showPassword(2)"
          >
            <img
              [id]="displayEyeConfirmation"
              class="absolute right-[10px] top-[50%] h-[70%]"
              src="../../../../assets/occhio_password.svg"
              alt="occhio"
            />
          </button>
        </div>
      </div>
    </div>
    <button
      class="rounded-full h-[40px] w-[80px] bg-[#005288ff] disabled:opacity-25"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      <p class="text-lg inset-0 font-medium text-[#ffffff]">REGISTRATI</p>
    </button>
  </div>
</form>
